body {
    padding-top: 70px;
}

.panel-body:not(:last-child) {
    border-bottom: 1px solid #dddddd;
}

.panel-body h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.panel-body h3 + .help-block {
    margin-bottom: 0;
}

.post-panel {
	min-height: 150px;
}

.post-container {
	padding: 0;
	position: relative;
	min-height: inherit;
}

.post-miniprofile {
	padding: 15px;
	background-color: #f1f1f1;
	min-height: inherit;
}

.post-content {
	padding: 15px;
	min-height: inherit;
}

.post-options {
	position: absolute;
	right: 15px;
	bottom: 0px;
}

.asp-panel-inline {
	display: inline;
}

.breadcrumb > li + li::before {
	content: "\003e";
}

.list-inline {
	display: inline-block;
}

textarea {
	resize: vertical;
}

.table-hide-options input[type="image"] {
	opacity: 0.25;
	transition: opacity 0.35s ease-in-out;
}

.table-hide-options tr:hover input[type="image"] {
	opacity: 1.0;
}