<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="database2tiConnectionString" connectionString="Data Source=sqlserver2ti-r0254260.database.windows.net;Initial Catalog=database2ti;Persist Security Info=True;User ID=admin2ti;Password=Password2ti"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
    <pages masterPageFile="~/Layout.master" theme="Bootstrap" />
		<customErrors mode="On" redirectMode="ResponseRewrite">
			<error statusCode="400" redirect="~/errors/400.aspx"/>
			<error statusCode="401" redirect="~/Login.aspx"/>
			<error statusCode="403" redirect="~/errors/403.aspx"/>
			<error statusCode="404" redirect="~/errors/404.aspx"/>
		</customErrors>
  </system.web>
</configuration>